{@ ref/ref.html @}

[begin tref]CString type[end]
[begin path]../..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    "<em>string_content</em>"
  </code>
</pre>
<h3>Description</h3>
<p>
  <code>cstring</code> is a c-like string type, i.e. a pointer to a character
  sequence terminated by '\0' character. All functions provides by the libc in
  <code>string.h</code> are applicable on <code>cstring</code> variables.
</p>
<h3>Example</h3>
{$ cstring.mr $}
[end]
