{@ ref/ref.html @}

[begin tref]Integer[end]
[begin path]../..[end]

[begin ref]
<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>Sign</th>
      <th>Range</th>
    </tr>
  </thead>
  <tbody>
    <tr><th>16 bits</th>
	<th>Signed</th>
	<th>-(2<sup>15</sup>) to 2<sup>15</sup>-1</th></tr>
  </tbody>
</table>
<h3>Syntax</h3>
<table>
  <thead>
    <tr>
      <th>Regular expression</th>
      <th>Integer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <code>&#91;0-9&#93;+</code>
      </th>
      <th>Decimal number</th>
    </tr>
    <tr>
      <th>
        <code>0x&#91;0-9A-Fa-F&#93;+</code>
      </th>
      <th>Hexadecimal number</th>
    </tr>
    <tr>
      <th>
        <code>0b&#91;01&#93;+</code>
      </th>
      <th>Binary number</th>
    </tr>
    <tr>
      <th>
        <code>'.'</code>
      </th>
      <th>Character (ASCII code)</th>
    </tr>
    <tr>
      <th>
        <code>true|false</code>
      </th>
      <th>Boolean</th>
    </tr>
  </tbody>
</table>
<h3>Example</h3>
{$ integer.mr $}
[end]
