{@ ref/ref.html @}

[begin tref]Vect[end]
[begin path]../..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    &#123; <em>elt1</em>; <em>elt2</em>; <em>elt3</em>; ... &#125;
  </code>
</pre>
<h3>Equivalent C struct</h3>
<pre>
  <code>
    struct s_Mvect
    &#123;
        size_t          length;
        int16_t         v&#91;1&#93;;
    &#125;;

    typedef struct s_Mvect*         Mvect;
  </code>
</pre>
<h3><code>vect.mr</code></h3>
{$ vect_int.mr $}
<h3>Example</h3>
{$ vect.mr $}
[end]
