{@ ref/ref.html @}

[begin tref]Classe attributes[end]
[begin path]../..[end]
[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    attr <em>attribut_name</em> : <em>type</em>
  </code>
</pre>
<h3>Example</h3>
{$ character.mr $}
[end]
