{@ ref/ref.html @}

[begin tref]Inheritance[end]
[begin path]../..[end]
[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    class <em>daughter</em> : <em>mother</em>
      <em>class_definition</em>
    end
  </code>
</pre>
<p>
  Here, the class <em>daughter</em>, defined by <em>class_definition</em>,
  inherited from the previously defined class <em>mother</em>.
</p>
<h3>Example</h3>
{$ class.mr $}
[end]
