{@ ref/ref.html @}

[begin tref]Initializer/destructor[end]
[begin path]../..[end]
[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    method init(<em>arguments</em>)
      <em>instructions</em>
      return self
    end
  </code>
</pre>
<pre>
  <code>
    method destr()
      <em>instructions</em>
      return self
    end
  </code>
</pre>
<h3>Example</h3>
{$ character.mr $}
[end]
