{@ ref/ref.html @}

[begin tref]Function/Method declaration[end]
[begin path]../..[end]
[begin ref]
<h3>Syntax</h3>
<pre>
<code>
method <em>func_name</em>(<em>arguments</em>)
  <em>instructions</em>
end
</code>
</pre>
<h3>Example</h3>
{$ character.mr $}
[end]
