{@ ref/ref.html @}

[begin tref]Alternative[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
<code>
if <em>condition</em> then
   <em>instructions</em>
endif
</code>
</pre>
<pre>
<code>
if <em>condition</em> then
   <em>instructions_1</em>
else
   <em>instructions_2</em>
endif
</code>
</pre>
<pre>
<code>
if <em>condition_1</em> then
   <em>instructions_1</em>
elif <em>condition_2</em> then
   <em>instructions_2</em>
elif <em>condition_3</em> then
   <em>instructions_3</em>
<em>...</em>
else
   <em>instructions_n</em>
endif
</code>
</pre>
<h3>Example</h3>
{$ alt.mr $}
[end]
