{@ ref/ref.html @}

[begin tref]Arithmetic operators[end]
[begin path]..[end]
[begin ref]
<table>
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr><th><code>+</code></th><th>addition</th></tr>
    <tr><th><code>-</code></th><th>substraction</th></tr>
    <tr><th><code>*</code></th><th>multiplication</th></tr>
    <tr><th><code>/</code></th><th>division</th></tr>
    <tr><th><code>%</code></th><th>modulo</th></tr>
  </tbody>
</table>
<h3>Example</h3>
{$ arith.mr $}
<h3>Assembler equivalent</h3>
<h4>Addition</h4>
<pre>
  <code>
    add         r24, r18
    adc         r25, r18
  </code>
</pre>
<h4>Substraction</h4>
<pre>
  <code>
    sub         r24, r18
    sbc         r25, r18
  </code>
</pre>
<h4>Multiplication</h4>
<pre>
  <code>
    movw        r20, r24
    mul         r20, r18
    movw        r24, r0
    mul         r20, r19
    add         r25, r0
    mul         r21, r18
    add         r25, r0
    clr         r1
  </code>
</pre>
<h4>Division</h4>
<pre>
  <code>
    movw        r22, r18
    rcall       __divmodhi4
    movw        r24, r22
  </code>
</pre>
<h4>Modulo</h4>
<pre>
  <code>
    movw        r22, r18
    rcall       __divmodhi4
  </code>
</pre>
[end]
