{@ ref/ref.html @}

[begin tref]Inline Assembler[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    asm{<em>expression</em>} "<em>assembler instructions</em>"
  </code>
</pre>
<h4>Specific assembler instructions</h4>
<p>The following assembler instructions can be used as Mara instructions :</p>
<pre>
  <code>
    sei
    cli
    wdr
    sleep
    nop
    break
  </code>
</pre>
<h3>Description</h3>
<p>
  The <code>asm</code> statement can be used to include assembler instructions
  into mara programs. This may be used to manually optimized time critical parts
  or to use a specific AVR features. The result of the given expression is
  placed in <code>r24</code> and <code>r25</code> before executing the given
  assembler instructions.
</p>
<h3>Example</h3>
{$ asm.mr $}
[end]
