{@ ref/ref.html @}

[begin tref]Assignment[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
<code>
<em>var_name</em> <- <em>expression</em>
</code>
</pre>
<h3>Example</h3>
{$ assign.mr $}
[end]
