{@ ref/ref.html @}

[begin tref]Bitwise operators[end]
[begin path]..[end]

[begin ref]
<table>
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Short Keyword</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr><th><code>bitand</code></th><th><code>&</code></th><th>bitwise AND</th></tr>
    <tr><th><code>bitor</code></th><th><code>|</code></th><th>bitwise OR</th></tr>
    <tr><th><code>compl</code></th><th><code>~</code></th><th>bitwise NOT</th></tr>
    <tr><th><code>bitls</code></th><th><code>&#60;&#60;</code></th><th>bitshift left</th></tr>
    <tr><th><code>bitrs</code></th><th><code>&#62;&#62;</code></th><th>bitshift right</th></tr>
  </tbody>
</table>
<h3>Example</h3>
{$ bitop.mr $}
<h3>Assembler equivalent</h3>
<h4>Bitwise AND</h4>
<pre>
  <code>
    and         r24, r18
    and         r25, r18
  </code>
</pre>
<h4>Bitwise OR</h4>
<pre>
  <code>
    or          r24, r18
    or          r25, r18
  </code>
</pre>
<h4>Bitwise NOT</h4>
<pre>
  <code>
    com          r24
    com          r25
  </code>
</pre>
<h4>Bitshift left</h4>
<pre>
  <code>
    mov         r0, r18
    rjmp        2f
1:  lsl         r24
    rol         r25
2:  dec         r0
    brpl        1b
  </code>
</pre>
<h4>Bitshift right</h4>
<pre>
  <code>
    mov         r0, r18
    rjmp        2f
1:  lsr         r25
    ror         r24
2:  dec         r0
    brpl        1b
  </code>
</pre>
[end]
