{@ ref/ref.html @}

[begin tref]Boolean operators[end]
[begin path]..[end]

[begin ref]
<table>
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr><th><code>and</code></th><th>logical AND</th></tr>
    <tr><th><code>or</code></th><th>logical OR</th></tr>
    <tr><th><code>not</code></th><th>logical NOT</th></tr>
  </tbody>
</table>
<h3>Example</h3>
{$ boolop.mr $}
<h3>Assembler equivalent</h3>
<h4>Logical AND</h4>
<pre>
  <code>
    cp          r24, r1
    cpc         r25, r1
    breq        1f
    cp          r18, r1
    cpc         r19, r1
    breq        1f
    ldi         r24, 1
    rjmp        2f
1:  clr         r24
2:  clr         r25
  </code>
</pre>
<h4>Logical OR</h4>
<pre>
  <code>
    cp          r24, r1
    cpc         r25, r1
    brne        1f
    cp          r18, r1
    cpc         r19, r1
    brne        1f
    clr         r24
    rjmp        2f
1:  ldi         r24, 1
2:  clr         r25
  </code>
</pre>
<h4>Logical NOT</h4>
<pre>
  <code>
    sbiw        r24, 0
    brne        1f
    ldi         r24, 1
    rjmp        2f
1:  clr         r24
2:  clr         r25
  </code>
</pre>
[end]
