{@ ref/ref.html @}

[begin tref]C interfacing[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    extern <em>function_name</em> : <em>type</em>
  </code>
</pre>
<h3>Example</h3>
<h4>c_interfacing.mr</h4>
{$ c_interfacing.mr $}
<h4>mara_interfacing.c</h4>
<pre>
  <code>
#include &#60;mara/types.h&#62;
#include &#60;mara/vect.h&#62;
#include &#60;mara/list.h&#62;

Minteger list_sum(Mlist l)
&#123;
    Mlist_node      e;
    Minteger        s;

    e = l-&#62;first;
    s = 0;

    while (e)
    {
            s += e-&#62;value;
            e = e-&#62;next;
    }

    return s;
&#125;

Minteger vect_sum(Mvect v)
&#123;
    size_t          i;
    Minteger        s;

    s = 0;

    for (i = 0; i &#60; v-&#62;length; ++i)
            s += v->v&#91;i&#93;;

    return s;
&#125;
  </code>
</pre>
<h4>Compiling</h4>
<pre>
  <code>
$ marac -mmcu atmega328p -verbose 3 c_interfacing.mr mara_interfacing.c
Compiling...                  success
Assembling...                 success
Compiling mara_interfacing... success
Linking...                    success
Converting elf to ihex...     success
Checking...
/tmp/_mbuild/c_interfacing.elf :
section     size      addr
.data          6   8388864
.text       6402         0
.bss           4   8388870
.stab       4116         0
.stabstr    2386         0
Total      12914


Finished (00:00:00)
</pre>
[end]
