{@ ref/ref.html @}

[begin tref]Cast[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    (<em>type</em> : <em>expression</em>)
  </code>
</pre>
<pre>
  <code>
    func <em>function_name</em>(<em>type</em> : <em>arg0</em>, <em>arg1</em>)
      <em>instructions</em>
    end
  </code>
</pre>
[end]
