{@ ref/ref.html @}

[begin tref]Compound assignment operator[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<table>
  <thead>
    <tr>
      <th>Syntax</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code><em>var_name</em> ++ <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> + <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> -- <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> - <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> ** <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> * <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> // <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> / <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> %% <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> % <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> &lt;&lt;&lt;&lt; <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> &lt;&lt; <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> &gt;&gt;&gt;&gt; <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> &gt;&gt; <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> || <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> | <em>expression</em></code></th>
    </tr>
    <tr>
      <th><code><em>var_name</em> && <em>expression</em></code></th>
      <th><code><em>var_name</em> <- <em>var_name</em> & <em>expression</em></code></th>
    </tr>
  </tbody>
</table>
<h3>Example</h3>
{$ compound.mr $}
[end]
