{@ ref/ref.html @}

[begin tref]Comparison operators[end]
[begin path]..[end]

[begin ref]
<table>
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr><th><code>=</code></th><th>equal to</th></tr>
    <tr><th><code><></code></th><th>not equal to</th></tr>
    <tr><th><code>!=</code></th><th>not equal to</th></tr>
    <tr><th><code>&#60;</code></th><th>less than</th></tr>
    <tr><th><code>&#62;</code></th><th>greater than</th></tr>
    <tr><th><code>&#60;=</code></th><th>less than or equal to</th></tr>
    <tr><th><code>&#62;=</code></th><th>greater than or equal to</th></tr>
  </tbody>
</table>
<h3>Example</h3>
{$ comp.mr $}
<h3>Assembler equivalent</h3>
<h4>Equal to</h4>
<pre>
  <code>
    cp          r24, r18
    cpc         r25, r19
    breq        1f
    clr         r24
    rjmp        2f
1:  ldi         r24, 1
2:  clr         r25
  </code>
</pre>
<h4>Not equal to</h4>
<pre>
  <code>
    cp          r24, r18
    cpc         r25, r19
    brne        1f
    clr         r24
    rjmp        2f
1:  ldi         r24, 1
2:  clr         r25
  </code>
</pre>
<h4>Greater than</h4>
<pre>
  <code>
    cp          r24, r18
    cpc         r25, r19
    brlt        1f
    breq        1f
    ldi         r24, 1
    rjmp        2f
1:  clr         r24
2:  clr         r25
  </code>
</pre>
<h4>Less than or equal to</h4>
<pre>
  <code>
    cp          r24, r18
    cpc         r25, r19
    brlt        1f
    breq        1f
    clr         r24
    rjmp        2f
1:  ldi         r24, 1
2:  clr         r25
  </code>
</pre>
<h4>Greater than or equal to</h4>
<pre>
  <code>
    cp          r24, r18
    cpc         r25, r19
    brge        1f
    clr         r24
    rjmp        2f
1:  ldi         r24, 1
2:  clr         r25
  </code>
</pre>
[end]
