{@ ref/ref.html @}

[begin tref]For loop[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    for <em>var_name</em> <- <em>expression1</em> to <em>expression2</em> do
      <em>instructions</em>
    done
  </code>
</pre>
<pre>
  <code>
    for <em>var_name</em> <- <em>expression1</em> downto <em>expression2</em> do
      <em>instructions</em>
    done
  </code>
</pre>
<h4>Syntactic sugar</h4>
<pre>
  <code>
    <em>expression</em>::<em>instruction</em>
  </code>
</pre>
<p>is equivalent to</p>
<pre>
  <code>
    for <em>var_name</em> <- 0 to <em>expression</em> do
      <em>instruction</em>
    done
  </code>
</pre>
<h3>Description</h3>
<p>The Mara <em>For loop</em> is equivalent to the following code :</p>
<pre>
  <code>
    var <em>var_name</em> <- <em>expression1</em>
    var <em>end</em> <- <em>expression2</em>
    while <em>var_name</em> <= <em>end</em> do
      <em>instructions</em>
      i ++ 1
    done
  </code>
</pre>
<pre>
  <code>
    var <em>var_name</em> <- <em>expression1</em>
    var <em>end</em> <- <em>expression2</em>
    while <em>var_name</em> <= <em>end</em> do
      <em>instructions</em>
      i -- 1
    done
  </code>
</pre>
<h3>Example</h3>
{$ for.mr $}
[end]
