{@ ref/ref.html @}

[begin tref]Finite-state machine[end]
[begin path]..[end]

[begin ref]
<h3>Description</h3>
<blockquote>
<p>
  A <b>finite-state machine</b> (<b>FSM</b>) or <b>finite-state automaton</b>
  (plural: <i>automata</i>), or simply a <b>state machine</b>, is a
  mathematical
  <a href="http://en.wikipedia.org/wiki/Model_of_computation"
     title="Model of computation">
    model of computation
  </a>
  used to design both
  <a href="http://en.wikipedia.org/wiki/Computer_programs"
     title="Computer programs" class="mw-redirect">
    computer programs
  </a>
  and
  <a href="http://en.wikipedia.org/wiki/Sequential_logic"
     title="Sequential logic">
    sequential logic
  </a>
  circuits. It is conceived as an
  <a href="http://en.wikipedia.org/wiki/Abstract_machine"
     title="Abstract machine">
    abstract machine
  </a>
  that can be in one of a finite number of
  <i><a href="http://en.wikipedia.org/wiki/State_(computer_science)"
        title="State (computer science)">states</a></i>.
  The machine is in only one state at a time; the state it is in at any given
  time is called the <i>current state</i>. It can change from one state to
  another when initiated by a triggering event or condition; this is called a
  <i>transition</i>. A particular FSM is defined by a list of its states, and
  the triggering condition for each transition.
</p>
<footer>
  <a href="http://en.wikipedia.org/wiki/Finite-state_machine">Wikipedia</a>
</footer>
</blockquote>
<p>
  Mara core language provides a syntax to quickly implement a Finite-state
  machine. When a FSM is compiled, the mara compiler generates an equivalent
  class that represents the behaviour described in the FSM definition.
</p>
<h3>Syntax</h3>
<pre>
<code>
  fsm <em>fsm_name</em>
    input <em>input_name</em> <- <em>condition</em>
    <em>...</em>

    state <em>state_name</em>
      action
	<em>instructions</em>
      end

      <em>input_name(optional)</em> -> <em>destination</em>
      <em>...</em>
    end
    <em>...</em>
  end
</code>
</pre>
<p>
  NOTE : All FSM must have a <code>start</code> state.
  It will be the default state of the automaton
</p>
<h3>Usage</h3>
<table>
  <thead>
    <tr>
      <th>Syntax</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code>new <em>fsm_name</em>()</code></th>
      <th>Allocate one <em>fsm_name</em></th>
    </tr>
    <tr>
      <th><code><em>fsm_name</em>.update()</code></th>
      <th>Update <em>fsm_name</em></th>
    </tr>
    <tr>
      <th><code><em>fsm_name</em>.is_<em>state_name</em>()</code></th>
      <th>Returns <code>true</code> if <em>fsm_name</em> is at the state
        <em>state_name</em>, <code>False</code> otherwise.</th>
    </tr>
  </tbody>
</table>
<h4>Example</h4>
<h3>Examples</h3>
<h4>Basic example</h4>
<img alt="Automaton" src="res/img/graph/fsm.png" />
{$ fsm1.mr $}
<h4>Advanced example</h4>
<img alt="Automaton" src="res/img/graph/fsm2.png" />
{$ fsm2.mr $}
<h4>Complete example</h4>
{$ fsm.mr $}
<h3>Miscellaneous</h3>
<img alt="" src="res/img/tab_fsm.jpg" />
[end]
