{@ ref/ref.html @}

[begin tref]Interrupt handler[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    interrupt <em>interrupt_name</em>
      <em>instructions</em>
    end
  </code>
</pre>
<p>
  NOTE: All variables declared in <code>setup</code> block or
  <code>loop</code> block are accessible from ISR.
</p>
<h3>Example</h3>
{$ blink.mr $}
[end]
