{@ ref/ref.html @}

[begin tref]Main loop[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    loop
      <em>instructions</em>
    end
  </code>
</pre>
<h3>Example</h3>
{$ loop.mr $}
<h3>Assembler equivalent</h3>
<pre>
  <code>
    loop: /* ...
             ...
             ... */
	  rjmp loop
  </code>
</pre>
[end]
