{@ ref/ref.html @}

[begin tref]Object creation/destruction[end]
[begin path]..[end]

[begin ref]
<h2>Syntax</h2>
<table>
  <thead>
    <tr>
      <th>Syntax</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code>new <em>class_name</em>(<em>arguments</em>)</code></th>
      <th>Create a new object from the class <em>class_name</em></th>
    </tr>
    <tr>
      <th><code>del <em>object_name</em></code></th>
      <th>Delete the object <em>object_name</em></th>
    </tr>
  </tbody>
</table>
<h2>Description</h2>
<p>
  The <code>new</code> operator must be used in an expression to allocate memory
  and initialize a new object from the given class.
  When an object is created, the memory is allocated with the
  <a href="http://www.nongnu.org/avr-libc/user-manual/malloc.html">
    <code>malloc</code>
  </a> C-function provided by
  <a href="http://www.nongnu.org/avr-libc/">avr-libc</a>.
  Then, the method <code>init</code> bound with the object is called with the
  given arguments.
</p>
<p>
  The <code>del</code> operator is one full instruction
  (unlike <code>new</code>) and cannot be used in an expression.
  When an object is deleted, the method <code>destr</code> bound with the object
  is called without argument. Then, the memory used by the object is free using
  the C-function
  <a href="http://www.nongnu.org/avr-libc/user-manual/malloc.html">
    <code>free</code>
  </a> provided by <a href="http://www.nongnu.org/avr-libc/">avr-libc</a>.
</p>
<h2>Example</h2>
{$ obj_init.mr $}
<h2>Assembler equivalent</h2>
<h3>Create a new object</h3>
<pre>
  <code>
    ldi         r24, /* object size */
    ldi         r25, 0
    rcall       malloc
    /* call init method */
  </code>
</pre>
<h3>Delete an object</h3>
<pre>
  <code>
    /* call destr method */
    rcall       free
  </code>
</pre>
[end]
