{@ ref/ref.html @}

[begin tref]Function/Method call[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    <em>function_name</em>(<em>arg0</em>, <em>arg1</em>, ...)
  </code>
</pre>
<pre>
  <code>
    <em>object_name</em>.<em>method_name</em>(<em>arg0</em>, <em>arg1</em>, ...)
  </code>
</pre>
<h3>Calling style</h3>
<pre>
  |                                     | 0x0000
  | ...                                 |
  +-------------------------------------+
  |                                     | <- Function Frame Pointer (r29:r29)
  +-------------------------------------+
  | Function frame                      |
  |                                     |
  +-------------------------------------+
  | Original Program Counter LSB (call) |
  +-------------------------------------+
  | Original Program Counter MSB (call) |
  +-------------------------------------+
  |                                     |
  | ...                                 |
  +-------------------------------------+
  | arg1 LSB                            |
  +-------------------------------------+
  | arg1 MSB                            |
  +-------------------------------------+
  | arg0 LSB                            |
  +-------------------------------------+
  | arg0 MSB                            |
  +-------------------------------------+
  | Object Pointer LSB (method only)    |
  +-------------------------------------+
  | Object Pointer MSB (method only)    |
  +-------------------------------------+
  | Original Frame Pointer LSB (r28)    |
  +-------------------------------------+
  | Original Frame Pointer MSB (r29)    |
  +-------------------------------------+
  |                                     | <- Original Stack Pointer
  +-------------------------------------+
  | ...                                 |
  |                                     | RAMEND
</pre>
[end]
