{@ ref/ref.html @}

[begin tref]Entry point[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    setup
      <em>instructions</em>
    end
  </code>
</pre>
<h3>Example</h3>
{$ entry.mr $}
[end]
