{@ ref/ref.html @}

[begin tref]Summary[end]

[begin ref]
<ul id="ulref">
  <li id="ref">
    <h2>Structure</h2>
    <ul id="ulref">
      <li>
        <h3>Main structure</h3>
        <ul>
          <li><a href="?ref/setup/">setup <em>(Entry point)</em></a></li>
          <li><a href="?ref/loop/">loop <em>(Main loop)</em></a></li>
          <li><a href="?ref/isr/">ISR <em>(Interrupt handler)</em></a></li>
        </ul>
      </li>
      <li>
        <h3>Instructions</h3>
        <ul>
          <li><a href="?ref/vardecl/">Variable declaration</a></li>
          <li><a href="?ref/assign/">Assignment</a></li>
          <li><a href="?ref/compound/">Compound assignment operator</a></li>
        </ul>
      </li>
      <li>
        <h3>Control structure</h3>
        <ul>
          <li><a href="?ref/alt/">Alternative</a></li>
          <li><a href="?ref/while/"><em>While</em> loop</a></li>
          <li><a href="?ref/waitfor/"><em>Waitfor</em> loop</a></li>
          <li><a href="?ref/for/"><em>For</em> loop</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="ref">
    <h2>Expressions</h2>
    <ul id="ulref">
      <li>
        <h3>Basic operators</h3>
        <ul>
          <li><a href="?ref/arith/">Arithmetic operators</a></li>
          <li><a href="?ref/comp/">Comparison operators</a></li>
          <li><a href="?ref/boolop/">Boolean operators</a></li>
          <li><a href="?ref/bitop/">Bitwise operators</a></li>
        </ul>
      </li>
      <li>
        <h3>Advanced operators</h3>
        <ul>
          <li><a href="?ref/cast/">Cast</a></li>
          <li><a href="?ref/malloc/">Object creation/destruction</a></li>
          <li><a href="?ref/mcall/">Function/Method call</a></li>
          <li><a href="?ref/tern/">Ternary operation</a></li>
          <li><a href="?ref/asm/">Inline Assembler</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="ref">
    <h2>Data types</h2>
    <ul id="ulref">
      <li>
        <h3>Native types</h3>
        <ul>
          <li><a href="?ref/type/integer/">integer</a></li>
          <li><a href="?ref/type/cstring/">cstring</a></li>
          <li><a href="?ref/type/vect/">vect</a></li>
        </ul>
      </li>
      <li>
        <h3>Standard library</h3>
        <ul>
          <li><a href="?ref/std/string/">string</a></li>
          <li><a href="?ref/std/list/">list</a></li>
        </ul>
      </li>
      <li>
        <h3>Class definition</h3>
        <ul>
          <li><a href="?ref/oop/attr/">Attributes</a></li>
          <li><a href="?ref/oop/methods/">Function/Methods</a></li>
          <li><a href="?ref/oop/init/">Initializer/destructor</a></li>
          <li><a href="?ref/oop/inheritance/">Inheritance</a></li>
        </ul>
      </li>
      <li>
        <h3>Miscellaneous</h3>
        <ul>
          <li><a href="?ref/fsm/">Finite-state machine</a></li>
          <li><a href="?ref/c/">C interfacing</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
[end]
