{@ ref/ref.html @}

[begin tref]Ternary operation[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    <em>expression1</em> ? <em>expression2</em> : <em>expression3</em>
  </code>
</pre>
<h3>Description</h3>
<p>
  If the result of <em>expression1</em> is greater than 0, the result of the
  whole expression is equal to the result of <em>expression2</em>.
  Else, it's equal to the result of <em>expression3</em>.
</p>
<h3>Example</h3>
{$ tern.mr $}
[end]
