{@ ref/ref.html @}

[begin tref]Variable declaration[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
<code>
var <em>var_name</em> <- <em>expression</em>
</code>
</pre>
<h3>Example</h3>
{$ vardecl.mr $}
[end]
