{@ ref/ref.html @}

[begin tref]While loop[end]
[begin path]..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
<code>
while <em>condition</em> do
   <em>instructions</em>
done
</code>
</pre>
<pre>
<code>
while <em>condition</em> do <em>instruction</em> done
</code>
</pre>
<h3>Example</h3>
{$ while.mr $}
[end]
