{@ ref/ref.html @}

[begin tref]List[end]
[begin path]../..[end]

[begin ref]
<h3>Syntax</h3>
<pre>
  <code>
    &#91; <em>elt1</em>; <em>elt2</em>; <em>elt3</em>; ... &#93;
  </code>
</pre>
<p>is equivalent to</p>
<pre>
  <code>
    new list(&#123; <em>elt1</em>; <em>elt2</em>; <em>elt3</em>; ... &#125;)
  </code>
</pre>
<h3>Equivalent C struct</h3>
<pre>
  <code>
    typedef struct s_Mlist_node*    Mlist_node;
    struct s_Mlist_node
    &#123;
        void            *value;
        Mlist_node      next;
    &#125;;

    typedef struct s_Mlist*         Mlist;
    struct s_Mlist
    &#123;
        size_t          length;
        Mlist_node      first;
    &#125;;
  </code>
</pre>
<h3><code>list.mr</code></h3>
{$ list_int.mr $}
<h3>Example</h3>
{$ list.mr $}
[end]
