{@ base.html @}

[begin title]Examples[end]

[begin body]
<h1>Examples</h1>
<h2>Blinking LED</h2>
{$ blink.mr $}
<h2>Fibonacci sequence</h2>
{$ fibo.mr $}
<h2>UART</h2>
{$ uart.mr $}
<h2>List</h2>
{$ list.mr $}
<h2>Classes</h2>
{$ class.mr $}
[end]
