{@ base.html @}

[begin title]FAQ[end]

[begin body]
<h1>FAQ</h1>
<h2>Can I use C functions in Mara ?</h2>
<p>
  Although the calling style is different, it's possible to call C functions
  from a Mara program : see <a href="?ref/c/">C interfacing</a>.
</p>
<h2>What registers are used by the Mara compiler ?</h2>
<ul>
  <li><strong>r0</strong>: Temporary register</li>
  <li><strong>r1</strong>: Zero pointer</li>
  <li><strong>r2-r17</strong>: Not used</li>
  <li><strong>r18-r23</strong>: Used as operand</li>
  <li><strong>r24-r25</strong>:
    Used as operand, contains operations result
  </li>
  <li><strong>r26-r27 (X)</strong>: Not used</li>
  <li><strong>r26-r27 (Y)</strong>: Frame pointer</li>
  <li><strong>r26-r27 (Z)</strong>:
    Used for memory access and function pointer
  </li>
</ul>
<p>
  See also <a href="?ref/asm/">Inline assembler</a> and
  <a href="?ref/mcall/">Function/Method call</a>.
</p>
<h2>Can I edit Mara code with Emacs ?</h2>
<p>
Yes, you can install the mara-mode by copying the file
<samp>utils/mara-mode.el</samp> in your <samp>~/.emacs.d/</samp> directory.<br/>
Then, add the following lines to your <samp>~/.emacs</samp> file :
</p>
<pre>
<code>
  (autoload 'mara-mode "~/.emacs.d/mara-mode.el" "" t)
  (setq auto-mode-alist (cons '("\\.mr\\w?" . mara-mode) auto-mode-alist))
</code>
</pre>
[end]
