{@ base.html @}

[begin title]Home[end]

[begin body]
<h1>What is Mara ?</h1>
<img class="float_right" width="88px" height="70px" alt="atmega8"
src="res/img/atmega8.jpg" />
<p>
<strong>Mara</strong> is a programming language dedicated to
<a href="http://www.atmel.com/products/microcontrollers/avr/default.aspx">
8bit ATMEL AVR</a> microcontrollers with a focus on simplicity and productivity.
<br/>
It provides to <strong>AVR</strong> architecture some features that high-level
programming languages have introduced on 32/64 bits processors, such as classes
and type inference.
<br/>
Thus, the goal of this project is to simplify the programming of these
microcontrollers for all those who do not wish to use (or learn) the
<strong>C</strong> or <strong>assembly language</strong>.
</p>
<p>
Some features of Mara :
<ul>
  <li>Simple and structured syntax</li>
  <li>Type inference</li>
  <li>Classes and objects</li>
  <li>Explicit error messages</li>
  <li>Standard library containing usual data structures</li>
  <li>Inline assembler</li>
  <li>Finite-state machines</li>
</ul>
</p>
<p>A simple Mara syntax example:</p>
{$ index.mr $}
<h2>Changelog</h2>
{% changelog %}
[end]
