/*
** highlight.css for Mara
** 
** Made by Pierre Surply
** <pierre.surply@gmail.com>
** 
** Started on  Sat Mar 16 15:25:48 2013 Pierre Surply
** Last update Tue Mar 26 08:22:16 2013 Pierre Surply
*/

.structkw
{
    color:              #7C3535;
}

.kw
{
    color:              #CE3939;
}

.types
{
    color:              #196B00;
}

.const
{
    color:              #894700;
}

.comment
{
    color:              #FF4C4D;
}