/*
** style.css for Mara
**
** Made by Pierre Surply
** <pierre.surply@gmail.com>
**
** Started on  Sun Feb 10 15:09:01 2013 Pierre Surply
** Last update Sat Aug 24 18:39:44 2013 Pierre Surply
*/

@import url("fonts/SourceSansPro.css");

body
{
    margin:             0;
    padding:            0;
    background:         white;
}

ul
{
    list-style:         square;
}

ul#ulref
{
    list-style:         none;
}

ul ul ul
{
    list-style:         square;
}

li#ref
{
    margin-right:       20px;
}

a
{
    text-decoration:    none;
    border-bottom:      1px dotted #444444;
    color:              black;
}

a:hover
{
    color:              #ff4c4d;
}

nav
{
    padding:            10px;
    width:              220px;
    float:              left;
    line-height:        1em;
}

nav ul
{
    margin:             0;
    padding:            0 10px;
    list-style:         none;
}

nav .fl
{
    border-bottom:      1px solid #444444;
    margin-top:         15px;
    margin-bottom:      5px;
}

nav a
{
    border-bottom:      none;
    display:            block;
    padding:            2px 6px 2px 0px;
    text-decoration:    none;
    color:              #444444;
}

#content
{
    margin-left:        250px;
    padding:            10px;
}

header
{
    height:             80px;
    margin-bottom:      2px;
    background-color:   #EEEEEE;
    border-bottom:      solid #aaa 1px;
    display:            block;
    position:           relative;
}

#logo
{
    position:           absolute;
    top:                8px;
    left:               8px;
    width:              180px;
}

header a
{
    border-bottom:      none;
}

pre
{
    padding:            5px;
    background-color:   #EEEEEE;
    box-shadow:		0 0 5px 5px #EEE;
    border-radius:	1px;
    margin-left:	20px;
    margin-right:	40px;
    clear:              right;
}

blockquote
{
    padding:           10px;
    background-color:   #EFEFEF;
    box-shadow:		0 0 5px 5px #EEE;
    border-radius:	1px;
    margin-left:	20px;
    margin-right:	40px;
}

footer
{
    font-size:          .8em;
    text-align:         right;
}

footer#gbl
{
    border-top:         dotted #aaa 1px;
    clear:              both;
}

table
{
    margin-left:	20px;
}

th
{
    margin:             5px;
    padding:            5px;
    border-radius:      2px;

}

tbody th
{
    background-color:   #EEEEEE;
}

thead th
{
    background-color:   #BBBBBB;
}

h1, h2, h3, h4
{
    font-family:	SourceSansProLight;
}

p, li, ul
{
    font-family:	SourceSansProRegular;
    line-height:	1.5em;
}

code
{
    color:		#333;
}

.float_right
{
    float:              right;
    margin-bottom:      5px;
}